<%=
  s3_uploader_form(
    id: "myS3Uploader",
    callback_url: "/uploads?metadata=#{metadata}&metadata_hmac=#{metadata_hmac}",
    callback_param: "upload_uri"
  ) do
%>
  <%= file_field_tag :file, multiple: true %>
<% end %>


<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
